<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="container">
        <div class="jumbotron">
            <h1>Finance Manager</h1>
            @Html.ActionLink("Lista wydatków", "Index", "Expense") |
            @Html.ActionLink("Lista przychodów", "Index", "Income") |
            @Html.ActionLink("Lista oszczędności", "Index", "Saving")
            <br /><br />
            @Html.ActionLink("Zarządzanie kategoriami wydatków", "Index", "Category", new { type = "Expense" }, null) |
            @Html.ActionLink("Zarządzanie kategoriami przychodów", "Index", "Category", new { type = "Income" }, null) |
            @Html.ActionLink("Zarządzanie kategoriami oszczędności", "Index", "Category", new { type = "Saving" }, null)
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                 @RenderBody()
            </div>
        </div>
        <script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </div>
</body>
</html>
