@model FinanceManager.Domain.Entities.Details
@{
    ViewBag.Title = "Szczegółowa analiza";
    Layout = "~/Views/Shared/_LayoutSummary.cshtml";
}

<h3>Analiza finansowa</h3>
@if (@Model.CategorySum > 0)
{
    <div><h4>Całkowita suma @Model.Coniugation to @Model.CategorySum.ToString("c"), z czego:</h4></div>
    <ul>
        @foreach (var item in Model.DetailedList)
        {
            <li>
                @item.Item1:  @item.Item2.ToString("c"), co stanowi <b>@item.Item3</b> % @Model.Coniugation
            </li>

        }
    </ul>
}
else
{
    <div class="red">Brak @Model.Coniugation w tym miesiącu!</div>
}
    <div>@Html.ActionLink("Powróć do podsumowania miesiąca", "Show", "Summary", new { date = Model.Date }, new { @class = "btn btn-link" })</div>