@model List<Tuple<string, decimal, double>>
@{
    ViewBag.Title = "Szczegółowa analiza";
    Layout = "~/Views/Shared/_LayoutSummary.cshtml";
}

<h3>Analiza finansowa</h3>
@if (@ViewBag.totalSum > 0)
{
    <div><h4>Całkowita suma @ViewBag.type to @ViewBag.totalSum.ToString("c"), z czego:</h4></div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.Item1:  @item.Item2.ToString("c"), co stanowi <b>@item.Item3</b> % wydatków
            </li>

        }
    </ul>
}
else
{
    <div class="red">Brak @ViewBag.type w tym miesiącu!</div>
}
    <div>@Html.ActionLink("Powróć do podsumowania miesiąca", "Show", "Summary", new { date = ViewBag.date }, new { @class = "btn btn-link" })</div>