@model FinanceManager.Domain.Entities.Summary
@{
    ViewBag.Title = "Podsumowanie - wybrany miesiąc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions { UpdateTargetId = "details" };
}

<div class="container justify-content-center">
    <h3>Podsumowanie finansowe miesiąca @Model.Date</h3>
    <div class="mb-4">
        @ViewBag.summaryMessage
    </div>
    <table class="table">
        <tr><th>Rodzaj</th><th>Łączna suma</th><th>Stosunek łącznej sumy do kwoty przychodów</th><th>Akcje</th></tr>
        <tr><td>Wydatki</td><td>@Model.ExpensesSum.ToString("c")</td><td>@Model.ExpensesToIncomes %</td><td>@Ajax.ActionLink("Szczegóły", "Details", "Summary", new { date = Model.Date, type = "Expense" }, ajaxOpts, new { @class = "btn btn-info" })</td></tr>
        <tr><td>Przychody</td><td>@Model.IncomesSum.ToString("c")</td><td>@Model.Incomes %</td><td>@Ajax.ActionLink("Szczegóły", "Details", "Summary", new { date = Model.Date, type = "Income" }, ajaxOpts, new { @class = "btn btn-info" })</td></tr>
        <tr><td>Oszczędności</td><td>@Model.SavingsSum.ToString("c")</td><td>@Model.SavingsToIncomes %</td><td>@Ajax.ActionLink("Szczegóły", "Details", "Summary", new { date = Model.Date, type = "Saving" }, ajaxOpts, new { @class = "btn btn-info" })</td></tr>
    </table>
    <div id="details">

    </div>
</div>

