@model FinanceManager.Domain.Entities.Summary
@{
    ViewBag.Title = "Podsumowanie - wybrany miesiąc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions { UpdateTargetId = "details" };
}

<div class="container justify-content-center">
    <h3>Podsumowanie finansowe miesiąca @Model.Date</h3>
    <ul>
        <li>Wydatki: @Model.ExpensesSum.ToString("c") @Ajax.ActionLink("Szczegóły", "Details", "Summary", new { date = Model.Date, type = "Expense" }, ajaxOpts, new { @class = "badge badge-info" })</li>
        <li>Przychody: @Model.IncomesSum.ToString("c") @Ajax.ActionLink("Szczegóły", "Details", "Summary", new { date = Model.Date, type = "Income" }, ajaxOpts, new { @class = "badge badge-info" })</li>
        <li>Oszczędności: @Model.SavingsSum.ToString("c") @Ajax.ActionLink("Szczegóły", "Details", "Summary", new { date = Model.Date, type = "Saving" }, ajaxOpts, new { @class = "badge badge-info" })</li>
    </ul>
    <div class="mb-4">
        @ViewBag.summaryMessage
    </div>
    <div id="details">

    </div>
</div>

