@model FinanceManager.Domain.Entities.Summary
@{
    ViewBag.Title = "Podsumowanie - wybrany miesiąc";
    Layout = "~/Views/Shared/_LayoutSummary.cshtml";
}

<div class="container justify-content-center">
    <h3>Podsumowanie finansowe miesiąca @Model.Date</h3>
    <ul>
        <li>Wydatki: @Model.ExpensesSum.ToString("c")</li>
        <li>Przychody: @Model.IncomesSum.ToString("c")</li>
        <li>Oszczędności: @Model.SavingsSum.ToString("c")</li>
    </ul>
    <div class="mb-4">
        @if (Model.IncomesSum > Model.ExpensesSum)
        {
            <strong class="green">Brawo! Twoje miesięczne dochody są większe od wydatków.</strong>
        }
        else if (Model.IncomesSum > Model.ExpensesSum && Model.ExpensesSum > 0)
        {
            <strong class="red">Niestety, w tym miesiącu Twoje wydatki przewyższyły dochody.</strong>
        }
    </div>
    <div>
        @Html.ActionLink("Pokaż szczegóły wydatków", "Details", "Summary", new { date = Model.Date, type = "Expense" }, new { @class = "btn btn-info mr-2" })
        @Html.ActionLink("Pokaż szczegóły przychodów", "Details", "Summary", new { date = Model.Date, type = "Income" }, new { @class = "btn btn-info mr-2" })
        @Html.ActionLink("Pokaż szczegóły oszczędności", "Details", "Summary", new { date = Model.Date, type = "Saving" }, new { @class = "btn btn-info mr-2" })
    </div>
    <div>
        @Html.ActionLink("Powrót do listy wyboru", "Index", "Summary", new { @class = "btn btn-success mt-2" })
    </div>
</div>

